@import url('https://fonts.googleapis.com/css2?family=Jura:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

button {
    width: 130px;
    height: 40px;
    background: #742f06;
    color: white;
    font-family: 'Jura', sans-serif;
    font-size: 13px;
    border-radius: 5px;
    margin: 15px;
    padding: 7px;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#field {
    display: flex;
    width: 60vh;
    height: 60vh;
    background: linear-gradient(15deg, #d0b56e 0%, #ffda7b 100%);
    border: 15px groove #463327;
    flex-wrap: wrap;
    border-radius: 10px;
}

.item {
    background: #441a02;
    box-sizing: border-box;
    border: 4px inset #ffffff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Jura', sans-serif;
    text-shadow: 1px 1px 2px #030000, 0 0 1em #818181, 0 0 0.2em #9b9b9b;
}

