@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap');
* {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

button {
    width: 130px;
    height: 40px;
    background: #742f06;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 13px;
    border-radius: 5px;
    margin: 15px;
    padding: 7px;
}

p {
    width: 200px;
    height: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 15px;
    display: flex;
    justify-content: center;
}

#btnSolve {
    margin-top: 50px
}

#speed2 {
    background-color: #3a0000;
}

.mainContainer {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#field {
    display: flex;
    width: 500px;
    height: 500px;
    background: linear-gradient(15deg, #d0b56e 0%, #ffda7b 100%);
    border: 15px groove #463327;
    flex-wrap: wrap;
    border-radius: 10px;
}

#listItems {
    display: none;
    width: 130px;
    height: 120px;
    position: relative;
    left: 5px;
}

#speedList {
    margin: 25px 0 0;
}

#listItems a {
    display: block;
    font-size: 18px;
    width: 100px;
    height: 20px;
    background-color: #441a02;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    padding: 10px;
}

#checkBox {
    width: 50px;
    height: 21px;
    border: #1b1b1b solid 2px;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

#checkBoxDot {
    width: 16px;
    height: 16px;
    border-radius: 100px;
    background: #441a02;
    margin: 1px;
    border: #441a02 solid 2px;
    position: relative;
}

#largeContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 550px;
}

.horizontalContainer {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.verticalContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
}

.item {
    background: #441a02;
    position: relative;
    box-sizing: border-box;
    border: 4px inset #a68e50;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e6c675;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-shadow: 1px 1px 2px #030000, 0 0 1em #818181, 0 0 0.2em #9b9b9b;
}

.congratsGif {
    width: 150px;
    height: 100px;
}

#leftSide, #rightSide {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#rightSide p {
    display: flex;
    justify-content: flex-start;
    padding-left: 50px;
}

/**LOADER**/
.lds-ripple {
    position: relative;
    width: 80px;
    height: 80px;
    /*display: none;*/
}
.lds-ripple div {
    position: absolute;
    border: 4px solid #441a02;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}
@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }
    4.9% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }
    5% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}
