.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 800px;
  height: 500px;
}

.moves {
  margin-top: 20px;
  font-size: 2rem;
  font-weight: bold;
}

.congratsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 400px;
  height: 400px;
}
