.puzzle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.board {
    position: relative;
    width: 300px;
    height: 300px;
    border: 2px solid black;
}

.cell {
    position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;
    font-size: 2rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s;
    transition-timing-function: cubic-bezier(0.55, 0.06, 0.68, 0.19);
}

.cell.empty {
    background-color: white;
    border: 2px solid black;
}

.cell:hover:not(.empty) {
    opacity: 0.8;
}

.moves {
    margin-top: 20px;
    font-size: 2rem;
    font-weight: bold;
}
